.main {
    padding-top: 10px;
    font-family: Calibri;
}

body {
}

html {
}

.image {
    padding-top: 5px;
    background-color: white;
}

.hidden {
    display: none;
}

.browse {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
    background: #777;
    color: #fff;
    width: 75px;
}

.navbar {
    background-color: #002b49;
}
.hdn {
    display: none;
}
.nav {
    font-size: large;
}

.head {
    color: red;
}

.small {
    width: 50px; 
}

.head:hover {
    color: darkred;
}

.navbar-brand {
    color: white;
    font-size: large;
}

.navbar-brand:hover {
   color: white;
}

.form-group {
    margin-top: 0px;
}
.comments {
    margin-left: 20px;
    padding: 4px;
    font-weight: normal;
}

.form-inline {
    flex-flow: row wrap;
    align-items: center;
}

.button {
    background-color: white;
    border: 2px solid red;
    color: #002b49;
    border-radius: 30px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

.button:hover {
    background-color: red;
    color: white;
}

.addSkill {
    border-radius: 20px;
    background-color: red;
    color: white;
    width: 36px;
    height: 36px;
    font-weight: bold;
    font-size: large;
}

.addSkill:hover {
    background-color: darkred;
    color: white;
}

.addActive {
    color: gray;
    background-color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}

.addActive:hover {
    background-color: lemonchiffon;
}

.apForm {
    margin: auto;
    text-align: center;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: large;
    padding: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.header {
    padding-top: 1px;
    padding-bottom: 2px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

::-webkit-input-placeholder { /* Edge */
    color: red;
    padding: 4px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    padding: 4px;
}

::placeholder {
    color: red;
    padding: 4px;
}

.table {
    
}

.skilltable {

}

input[type=checkbox] {
    width: 30px;
    height: 30px;    
    position: center;
}

input:not([type]), input[type="text"] {
    color: Red;
    font-weight: bold;
    padding: 4px;
}

.section {
    font-size: large;
    padding: 10px;
    margin: 0px;
}

.login {
    margin: auto;
    text-align: center;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: large;
    padding: 20px;
}
